<!-- Main Sidebar Container -->
<aside th:fragment="sideMenu" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a th:href="@{/index}" class="brand-link">
      <img th:src="@{/dist/img/AdminLTELogo.png}" alt="Cubes School Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">DoService</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
			   
	
			   <li class="nav-item has-treeview">
			               <a href="#" class="nav-link">
			                 <i class="nav-icon far fa-plus-square"></i>
			                 <p>
			                   Tasks
			                   <i class="right fas fa-angle-left"></i>
			                 </p>
			               </a>
			               <ul class="nav nav-treeview">
			                 <li class="nav-item">
			                   <a th:href="@{/tasks}" class="nav-link">
			                     <i class="far fa-circle nav-icon"></i>
			                     <p>Task list</p>
			                   </a>
			                 </li>
			                 <li class="nav-item">
			                   <a th:href="@{/tasks/add}" class="nav-link">
			                     <i class="far fa-circle nav-icon"></i>
			                     <p>Add Task</p>
			                   </a>
			                 </li>
			               </ul>
			             </li>
			   
			   
			   
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-plus-square"></i>
              <p>
                Technicians
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/technicians}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Technician list</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/technicians/add}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Technician</p>
                </a>
              </li>
            </ul>
          </li>

            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon far fa-plus-square"></i>
                    <p>
                        Locations
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a th:href="@{/locations}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Location list</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/locations/add}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Location</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon far fa-plus-square"></i>
                    <p>
                        Technician Specializations
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a th:href="@{/specializations}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Technician Specialization list</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/specializations/add}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Technician Specialization</p>
                        </a>
                    </li>
                </ul>
            </li>
			
			<li class="nav-item has-treeview">
			               <a href="#" class="nav-link">
			                   <i class="nav-icon far fa-plus-square"></i>
			                   <p>
			                       Employees
			                       <i class="right fas fa-angle-left"></i>
			                   </p>
			               </a>
			               <ul class="nav nav-treeview">
			                   <li class="nav-item">
			                       <a th:href="@{/employees}" class="nav-link">
			                           <i class="far fa-circle nav-icon"></i>
			                           <p>Employee list</p>
			                       </a>
			                   </li>
			                   <li class="nav-item">
			                       <a th:href="@{/employees/add}" class="nav-link">
			                           <i class="far fa-circle nav-icon"></i>
			                           <p>Add Employee</p>
			                       </a>
			                   </li>
			               </ul>
			           </li>
					   
					   <li class="nav-item has-treeview">
	   			               <a href="#" class="nav-link">
	   			                   <i class="nav-icon far fa-plus-square"></i>
	   			                   <p>
	   			                       Positions
	   			                       <i class="right fas fa-angle-left"></i>
	   			                   </p>
	   			               </a>
	   			               <ul class="nav nav-treeview">
	   			                   <li class="nav-item">
	   			                       <a th:href="@{/positions}" class="nav-link">
	   			                           <i class="far fa-circle nav-icon"></i>
	   			                           <p>Position list</p>
	   			                       </a>
	   			                   </li>
	   			                   <li class="nav-item">
	   			                       <a th:href="@{/positions/add}" class="nav-link">
	   			                           <i class="far fa-circle nav-icon"></i>
	   			                           <p>Add Position</p>
	   			                       </a>
	   			                   </li>
	   			               </ul>
	   			           </li>
			
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>